body {
    background-color: #e5e5e5;
    font-family: sans-serif;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.app {
    background-color: #fff;
    border: 0.25rem solid #abcea1;
    border-radius: 0.5rem;
    padding: 1rem;
}

.app section {
    background-color: #f2faf0;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.fa-plus {
    background-color: #abcea1;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

#msg {
    color: red;
}

#tasks {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse; */
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

#tasks div {
    flex: 1 1 280px;
    /* max-width: 280px; */
    border: 0.25rem solid #abcea1;
    background-color: #e2eede;
    border-radius: 0.25rem;
    padding: 0.25rem;
    display: grid;
    gap: 0.25rem;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 1rem;
}

#tasks div .options i {
    cursor: pointer;
}

::first-letter {
    text-transform:capitalize;
}