/*ANCHOR REBOOT*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);

:root {
    scroll-behavior: smooth;
    --primary: gold;
    --dark: #222222;
    --light: #f5f5f5;
    --white: #ffffff;
    --black: #000000;
    --accent: rgba(255, 255, 255, 0.2);
    --headerHeight: 115px;
    --footerHeight: 90px;
}

*,
::after,
::before {
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body {
    margin: 0;
    font-size: large;
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
    color: var(--primary);
}

h3 {
    color: var(--light);
}

img {
    width: 100%;
    height: auto;
}

ul {
    padding-inline-start: 1rem;
    margin: 0;
}

a {
    color: var(--light);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

header,
footer {
    background-color: hsla(0, 0%, 8%, 1);
    color: var(--light);
}

main,
section,
article {
    padding: 1rem;
}

main {
    margin-top: var(--headerHeight);
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

input,
textarea {
    padding: 0.25rem 0.5rem;
    border: none;
    background-color: var(--white);
}

label,
input:not([type="date"], [type="color"], [type="checkbox"]),
textarea {
    width: 100%;

}

textarea {
    min-height: 200px;
}

/*ANCHOR COLOR*/
.color-danger {
    color: lightcoral;
}

.color-success {
    color: #16bc6a;
}

.border-light {
    border: 2px solid var(--accent);
}

/*ANCHOR FLEX Container*/
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.fd-row {
    flex-direction: row;
}

.fd-column {
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.ai-fs {
    align-items: center;
}

.g-1 {
    gap: 1rem;
}

/*ANCHOR FLEX items*/
.flex-1 {
    flex-grow: 1;
}

/*ANCHOR SIZING*/
.mw-1320 {
    max-width: 1320px;
}

/*ANCHOR SPACING*/
.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-0 {
    margin: 0;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-auto {
    margin-top: auto;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding: 0 1rem;
}

/*ANCHOR TYPO*/
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* ANCHOR BUTTON */
.btn-default {
    background-color: var(--primary);
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--primary);
    border-radius: 5px;
    transition: background-color 300ms, border-color 300ms, color 300ms;
}

.btn-default:hover {
    background-color: transparent;
    color: var(--primary);
}

.btn-classic {
    background-color: var(--primary);
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 5px;
    transition: background-color 300ms, border-color 300ms, color 300ms;
}

.btn-classic:hover {
    background-color: transparent;
    color: var(--primary);
}

.btn-square {
    background-color: transparent;
    color: var(--white);
    min-width: 3rem;
    aspect-ratio: 1 / 1;
    /* border: 2px solid var(--accent); */
    border: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: border-color 300ms, color 300ms;
}

.btn-square:hover {
    /* border: 2px solid var(--primary); */
    color: var(--primary);
}

.btn-create {
    /* width: 48px; */
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    font-size: 24px;
}

/*ANCHOR CUSTOM*/

.rounded {
    border-radius: 5px;
}

.rounded-right {
    border-radius: 0 5px 5px 0;
}

.rounded-left {
    border-radius: 5px 0 0 5px;
}

.shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

::first-letter {
    text-transform: uppercase;
}

/* ANCHOR COMPONENTS */

#logo {
    width: 35px;
}

.task-header>* {
    text-decoration: none;
    margin: 0;
}

.task-header__info {
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

/* .task-header__title {
    white-space: nowrap;
} */

.task-header__title a {
    display: block;
    text-decoration: none;
    font-size: 24px;
}

#tasks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    grid-gap: 1rem;
    /* align-items: baseline; */
}

.tasks__art {
    background-color: hsla(0, 0%, 8%, 0.8);
    border-bottom: 4px solid var(--accent);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: var(--white);
    cursor: grab;
}



/* .tasks__art * {
    margin: 0 !important;
    padding: 0 !important;
} */
.tasks__title,
.tasks__meta {
    margin: 0 0 0.5rem;
}

.tasks__meta {
    font-size: 0.8em;
    opacity: 0.75;
}

.tasks__meta time {
    font-style: italic;
}

.tasks__meta i {
    margin-right: 0.5rem;
}

.tasks__description {
    font-size: 0.8em;
    font-family: Roboto, sans-serif;
    white-space: pre-line;
    /* border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    border-radius: 5px; */
}

#modal-form {
    display: none;
    background-color: hsla(0, 0%, 4%, 0.95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    border-radius: 5px;

}

.task-form__container {
    padding-right: 0.5rem;
    max-height: 35vh;
    overflow-y: auto;
}

.drag-start {
    background-color: #222;
}
.drag-enter {
    background-color: #222;
}
.drop {
    background-color: none;
}

@media (min-width: 1410px) {
    .btn-create {

        position: fixed;
        bottom: calc(var(--footerHeight) + 2rem);
        right: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--white);
    }

    a {
        color: var(--white);
    }
}